Repository Whole-ro/Whole-lo, pull requests merged in 2023-12, with the labels that each got.

#3 [add #1]MarketDTO추가 및 MarketDAO 나눔장터 글 insert문 추가
  whole/src/main/java/model/dao/MarketDAO.java
  whole/src/main/java/model/dto/MarketDTO.java
  whole/src/main/java/test/MarketTest.java
  whole/src/main/webapp/META-INF/MANIFEST.MF
  whole/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
  whole/target/m2e-wtp/web-resources/META-INF/maven/dbp.edopal/whole/pom.properties
Labels: pull request, 민영

#5 [add/#4] signup jsp, css, js 파일 추가
  whole/src/main/webapp/WEB-INF/sign_up.jsp
  whole/src/main/webapp/css/sign_up.css
  whole/src/main/webapp/js/sign_up.js
Labels: PULL REQUEST, 서진, add

#8 [add/#6] login controller추가, login.jsp 파일추가
  whole/src/main/java/controller/user/LoginController.java
  whole/src/main/java/model/dao/UserDAO.java
  whole/src/main/java/model/entity/UserEntity.java
  whole/src/main/java/model/service/UserManager.java
  whole/src/main/webapp/WEB-INF/login.jsp
  whole/src/main/webapp/css/login.css
  whole/src/main/webapp/img/ic_logo.png
Labels: 다윤, add

#9 [fix/#2]inStream null 오류 해결
  .gitignore
  whole/pom.xml
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/ViewPostController.java
  whole/src/main/java/model/dao/MarketDAO.java
  whole/src/main/java/model/manager/PostManager.java
  whole/src/main/resources/context.properties
  whole/src/main/webapp/WEB-INF/web.xml
  whole/src/main/webapp/itemDetail.jsp
Labels: PULL REQUEST, 예진, hotfix

#13 [fix/#2]날짜 출력 오류 고치기
  whole/src/main/java/model/dao/MarketDAO.java
  whole/src/main/webapp/WEB-INF/itemDetail.jsp
Labels: PULL REQUEST, 예진, fix

#14 [Add/ #1]/ ListMarketController 추가
  whole/src/main/java/controller/Controller.java
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/ViewPostController.java
  whole/src/main/java/controller/market/ListMarketController.java
  whole/src/main/java/model/service/MarketManager.java
  whole/src/main/webapp/WEB-INF/market/market_view_postlist.jsp
  whole/src/main/webapp/WEB-INF/testmarket.jsp
  whole/src/main/webapp/index.jsp
  whole/src/main/webapp/itemDetailTest.jsp
Labels: PULL REQUEST, 민영, add, feat

#16 [add/#6]로그인 기능 실행
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/user/LoginController.java
  whole/src/main/java/controller/user/UserSessionUtils.java
  whole/src/main/java/model/dao/UserDAO.java
  whole/src/main/java/model/service/UserManager.java
  whole/src/main/java/test/UserTest.java
  whole/src/main/webapp/WEB-INF/login.jsp
  whole/src/main/webapp/WEB-INF/user/loginForm.jsp
  whole/src/main/webapp/WEB-INF/user/login_action.jsp
  whole/src/main/webapp/loginTest.jsp
Labels: PULL REQUEST, 다윤, add

#17 [add/#11]signup 완
  whole/src/main/java/controller/ForwardController.java
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/user/RegisterUserController.java
  whole/src/main/java/util/InterestUtil.java
  whole/src/main/webapp/WEB-INF/user/loginForm.jsp
  whole/src/main/webapp/WEB-INF/user/sign_up_1.jsp
  whole/src/main/webapp/WEB-INF/user/sign_up_2.jsp
  whole/src/main/webapp/css/agreement.css
  whole/src/main/webapp/sign_up_test.jsp
Labels: PULL REQUEST, 서진, add, feat

#18 [feat#15]로그인과 마켓 연동
  whole/src/main/java/controller/user/LoginController.java
  whole/src/main/webapp/WEB-INF/itemDetail.jsp
  whole/src/main/webapp/WEB-INF/market/market_view_postlist.jsp
  whole/src/main/webapp/css/Sharing.css
  whole/src/main/webapp/css/item_detail.css
Labels: PULL REQUEST, 민영, 서진, 예진, 다윤, feat

#19 [add/#11] 헤더붙임
  whole/src/main/webapp/WEB-INF/market/market_view_postlist.jsp
  whole/src/main/webapp/WEB-INF/user/loginForm.jsp
  whole/src/main/webapp/css/header.css
  whole/src/main/webapp/css/login.css
Labels: PULL REQUEST, 서진, add

#22 [fix#15]img 경로 수정
  whole/src/main/webapp/WEB-INF/itemDetail.jsp
  whole/src/main/webapp/WEB-INF/market/market_view_postlist.jsp
Labels: PULL REQUEST, 예진, fix

#24 [add/#23] FoodManager 추가
  whole/src/main/java/controller/food/FoodUpdateController.java
  whole/src/main/java/model/service/FoodManager.java
  whole/src/main/webapp/WEB-INF/user/sign_up_2.jsp
Labels: PULL REQUEST, 서진, add, feat

#26 [add/ #25] mybatis-config.xml파일 추가 및 FoodEntity에 FoodDto로 변경
  whole/src/main/java/model/dao/FoodDAO.java
  whole/src/main/java/model/service/FoodManager.java
  whole/src/main/java/model/service/MarketManager.java
  whole/src/main/java/test/FoodTest.java
  whole/src/main/resources/mybatis-config.xml
Labels: PULL REQUEST, 민영, 예진, 다윤, add

#27 [add/#25] log4j.properties 생성 및 StatisticsMapper interface 추가
  whole/src/main/java/model/dao/mybatis/mapper/StatisticsMapper.java
  whole/src/main/resources/log4j.properties
  whole/src/main/resources/mybatis-config.xml
Labels: PULL REQUEST, 민영, 예진, add, build

#28 [feat/#23] FoodCreateController 완
  whole/src/main/java/controller/food/FoodCreateController.java
  whole/src/main/java/controller/food/FoodUpdateController.java
  whole/src/main/java/model/dto/FoodDTO.java
Labels: PULL REQUEST, 서진, feat

#30 [add/#29] 냉장고 jsp, controller 추가
  whole/src/main/java/controller/food/FoodDeleteController.java
  whole/src/main/java/controller/user/LoginController.java
  whole/src/main/java/controller/user/LogoutController.java
  whole/src/main/java/controller/user/UserSessionUtils.java
  whole/src/main/java/model/dao/FoodDAO.java
  whole/src/main/java/model/service/FoodManager.java
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
Labels: PULL REQUEST, 다윤, add

#32 [refactor/#31] header footer 파일 별도로 추가
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/webapp/WEB-INF/fragments/footer.jsp
  whole/src/main/webapp/WEB-INF/fragments/header.jsp
  whole/src/main/webapp/WEB-INF/market/market_view_postlist.jsp
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
  whole/src/main/webapp/loginTest.jsp
Labels: PULL REQUEST, 서진, add, feat

#33 [add/#29] ListFoodController구현
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/food/FoodDeleteController.java
  whole/src/main/java/controller/food/ListFoodController.java
  whole/src/main/java/controller/food/SearchFoodTitleController.java
  whole/src/main/java/model/service/FoodManager.java
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
Labels: PULL REQUEST, 다윤, add

#34 [add/#29]foodDetail.jsp 추가
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/food/ViewFoodController.java
  whole/src/main/java/model/dao/FoodDAO.java
  whole/src/main/java/model/service/FoodManager.java
  whole/src/main/webapp/WEB-INF/myRefg/foodDetail.jsp
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
Labels: PULL REQUEST, 다윤, add

#35 [fix/#29]foodDao select문 foodType추가
  whole/src/main/java/model/dao/FoodDAO.java
  whole/src/main/webapp/WEB-INF/myRefg/foodDetail.jsp
Labels: PULL REQUEST, 다윤, fix

#36 [feat/#29] 글작성 중간과정
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/food/FoodCreateController.java
  whole/src/main/java/controller/user/LoginController.java
  whole/src/main/java/controller/user/UserSessionUtils.java
  whole/src/main/java/model/dao/UserDAO.java
  whole/src/main/java/util/FoodTypeUtil.java
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
  whole/src/main/webapp/WEB-INF/myRefg/postForm.jsp
  whole/src/main/webapp/css/myRefg/postForm.css
Labels: PULL REQUEST, 서진, add, feat

#38 [feat/#37] session에 userId 저장
  whole/src/main/java/controller/user/LoginController.java
  whole/src/main/java/model/dao/UserDAO.java
  whole/src/main/java/model/service/UserManager.java
Labels: PULL REQUEST, 서진, feat

#39 [feat/#29] foodDetial 수정,삭제,장터이동 버튼 추가
  whole/src/main/webapp/WEB-INF/myRefg/foodDetail.jsp
  whole/src/main/webapp/css/item_detail.css
Labels: PULL REQUEST, 다윤, feat

#40 [add/#25]냉장고 기능 구현
  whole/pom.xml
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/food/ListFoodController.java
  whole/src/main/java/model/dao/FoodDAO.java
  whole/src/main/java/model/dao/UserDAO.java
  whole/src/main/java/model/dao/mybatis/StatisMapperRepository.java
  whole/src/main/java/model/dao/mybatis/mapper/StatisticsMapper.java
  whole/src/main/java/model/service/FoodManager.java
  whole/src/main/java/model/service/UserManager.java
  whole/src/main/java/test/FoodTest.java
  whole/src/main/resources/mybatis-config.xml
  whole/src/main/webapp/WEB-INF/user/loginForm.jsp
Labels: PULL REQUEST, 예진, feat, test

#41 [feat/#37] 나만의 냉장고 글쓰기 기능 추가
  whole/src/main/java/controller/food/FoodCreateController.java
  whole/src/main/java/model/dto/FoodDTO.java
  whole/src/main/java/util/FoodTypeUtil.java
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
  whole/src/main/webapp/WEB-INF/myRefg/postForm.jsp
  whole/src/main/webapp/css/myRefg/postForm.css
Labels: PULL REQUEST, 서진, add, feat

#42 [add/#25]신호등 구현
  whole/src/main/java/controller/food/ListFoodController.java
  whole/src/main/java/model/dao/mybatis/mapper/StatisticsMapper.java
  whole/src/main/java/model/service/StatisticsManager.java
  whole/src/main/java/model/service/UserManager.java
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
Labels: PULL REQUEST, 예진, add, feat

#43 [feat/#29] deleteFoodDetail 수정 완
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/food/FoodDeleteController.java
  whole/src/main/java/controller/food/ViewFoodController.java
  whole/src/main/webapp/WEB-INF/myRefg/foodDetail.jsp
Labels: PULL REQUEST, 다윤, add

#44 [fix/#25] 통계 구현 완료
  whole/pom.xml
  whole/src/main/java/controller/Controller.java
  whole/src/main/java/controller/food/ListFoodController.java
  whole/src/main/java/model/dao/mybatis/StatisMapperRepository.java
  whole/src/main/java/model/dao/mybatis/mapper/StatisticsMapper.java
  whole/src/main/java/model/service/FoodstaticsManager.java
  whole/src/main/java/test/FoodTest.java
  whole/src/main/java/util/FoodTypeUtil.java
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
Labels: PULL REQUEST, 민영, add, feat

#47 [fix/ #25] 통계 화면 조건 추가 및 기능 구현 완료
  whole/src/main/java/controller/ViewPostController.java
  whole/src/main/java/controller/food/ListFoodController.java
  whole/src/main/java/model/dao/mybatis/StatisMapperRepository.java
  whole/src/main/java/model/dao/mybatis/mapper/StatisticsMapper.java
  whole/src/main/java/model/service/FoodstaticsManager.java
  whole/src/main/java/util/FoodTypeUtil.java
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
Labels: PULL REQUEST, 민영, fix, feat

#48 [feat/#45] 나만의 냉장고 글 수정 완
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/food/FoodUpdateController.java
  whole/src/main/webapp/WEB-INF/myRefg/foodDetail.jsp
  whole/src/main/webapp/WEB-INF/myRefg/updateForm.jsp
Labels: PULL REQUEST, 서진, feat

#50 [add/#46]같이가치 구현
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/withWith/ListSameGenderController.java
  whole/src/main/java/controller/withWith/ListSameInterestUserController.java
  whole/src/main/java/model/dao/UserDAO.java
  whole/src/main/java/model/dao/mybatis/WithwithMapperRepository.java
  whole/src/main/java/model/dao/mybatis/mapper/WithwithMapper.java
  whole/src/main/java/model/service/UserManager.java
  whole/src/main/java/model/service/WithwithManager.java
  whole/src/main/java/test/WithwithTest.java
  whole/src/main/resources/mybatis-config.xml
  whole/src/main/webapp/WEB-INF/fragments/header.jsp
  whole/src/main/webapp/WEB-INF/withWith/withWith.jsp
  whole/src/main/webapp/css/withWith/withwith.css
  whole/src/main/webapp/img/withWith/ic_accuse.png
  whole/src/main/webapp/img/withWith/ic_bell.png
  whole/src/main/webapp/img/withWith/ic_logo.png
  whole/src/main/webapp/img/withWith/ic_message.png
  whole/src/main/webapp/img/withWith/ic_profile.png
  whole/src/main/webapp/img/withWith/ic_search.png
Labels: PULL REQUEST, 예진, add, feat

#52 [add/#51] 마이페이지 페이지 추가 및 사용자 정보 출력 완료
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/user/ViewUserController.java
  whole/src/main/java/model/dao/JDBCUtil.java
  whole/src/main/java/model/dao/UserDAO.java
  whole/src/main/java/model/service/UserManager.java
  whole/src/main/webapp/WEB-INF/fragments/header.jsp
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
  whole/src/main/webapp/WEB-INF/user/mypage.jsp
  whole/src/main/webapp/WEB-INF/web.xml
  whole/src/main/webapp/css/Sharing.css
Labels: PULL REQUEST, 민영, add

#56 [add/#55]나눔장터 해시태그 버튼
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/market/ViewItemTypeController.java
  whole/src/main/java/filter/ResourceFilter.java
  whole/src/main/java/model/dao/MarketDAO.java
  whole/src/main/java/model/service/MarketManager.java
  whole/src/main/java/test/FoodTest.java
  whole/src/main/webapp/WEB-INF/market/market_view_postlist.jsp
  whole/src/main/webapp/WEB-INF/web.xml
  whole/src/main/webapp/WEB-INF/withWith/withWith.jsp
  whole/src/main/webapp/css/withwith/withwith.css
Labels: PULL REQUEST, 예진, add, feat

#60 [add/#57]내가쓴글에만 수정삭제 버튼 띄우기
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/market/MarketDeleteController.java
  whole/src/main/java/model/dao/MarketDAO.java
  whole/src/main/java/model/entity/ItemEntity.java
  whole/src/main/java/model/service/MarketManager.java
  whole/src/main/webapp/WEB-INF/itemDetail.jsp
  whole/src/main/webapp/WEB-INF/market/market_view_postlist.jsp
  whole/src/main/webapp/WEB-INF/myRefg/foodDetail.jsp
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
Labels: PULL REQUEST, 다윤, add

#59 [feat/#49] 마켓글쓰기
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/food/FoodCreateController.java
  whole/src/main/java/controller/food/FoodDeleteController.java
  whole/src/main/java/controller/food/ListFoodController.java
  whole/src/main/java/controller/market/CreateMarketController.java
  whole/src/main/java/filter/ResourceFilter.java
  whole/src/main/java/model/dao/FoodDAO.java
  whole/src/main/java/model/dao/MarketDAO.java
  whole/src/main/java/model/dto/MarketDTO.java
  whole/src/main/java/model/service/FoodManager.java
  whole/src/main/java/model/service/MarketManager.java
  whole/src/main/java/util/MarketTypeUtil.java
  whole/src/main/webapp/WEB-INF/market/market_post_form.jsp
  whole/src/main/webapp/WEB-INF/market/market_post_update.jsp
  whole/src/main/webapp/WEB-INF/market/market_view_postlist.jsp
Labels: PULL REQUEST, 서진, feat

#65 [add / #58] 비밀번호 변경 화면 추가 및 forwarding
  whole/src/main/java/controller/DispatcherServlet.java
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/user/UpdateUserController.java
  whole/src/main/java/controller/user/ViewUserController.java
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
  whole/src/main/webapp/WEB-INF/myRefg/updateForm.jsp
  whole/src/main/webapp/WEB-INF/user/loginForm.jsp
  whole/src/main/webapp/WEB-INF/user/mypage.jsp
  whole/src/main/webapp/WEB-INF/user/updatepw.jsp
  whole/src/main/webapp/css/Sharing.css
  whole/src/main/webapp/css/changePass_Mypage2.css
  whole/src/main/webapp/css/mypage.css
Labels: PULL REQUEST, 민영, add

#67 [add/#66]로그아웃 기능 구현
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/food/ViewFoodController.java
  whole/src/main/java/controller/user/LogoutController.java
  whole/src/main/webapp/WEB-INF/myRefg/myRefgList.jsp
  whole/src/main/webapp/WEB-INF/user/mypage.jsp
Labels: PULL REQUEST, 다윤, add

#69 [add/#68]마이페이지 내가 쓴 글 출력
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/user/UserMarketController.java
  whole/src/main/java/model/dao/MarketDAO.java
  whole/src/main/java/model/service/MarketManager.java
  whole/src/main/webapp/WEB-INF/user/my_market.jsp
  whole/src/main/webapp/WEB-INF/user/mypage.jsp
Labels: PULL REQUEST, 다윤, add

#70 [feat/#64] 마켓업데이트
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/market/UpdateMarketController.java
  whole/src/main/java/model/dao/MarketDAO.java
  whole/src/main/java/model/dto/MarketDTO.java
  whole/src/main/java/model/service/MarketManager.java
  whole/src/main/webapp/WEB-INF/itemDetail.jsp
  whole/src/main/webapp/WEB-INF/market/market_post_update.jsp
Labels: PULL REQUEST, 서진, add, feat

#72 [add /#58] 비밀번호 변경 구현 완료
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/user/UpdateUserController.java
  whole/src/main/java/model/dao/mybatis/UpdatePwRepository.java
  whole/src/main/java/model/dao/mybatis/mapper/UpdatePwMapper.java
  whole/src/main/java/model/service/UpdateUserManager.java
  whole/src/main/resources/mybatis-config.xml
  whole/src/main/webapp/WEB-INF/user/updatepw.jsp
Labels: PULL REQUEST, 민영, fix, feat

#73 [fix/#58]화면 수정
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/model/dao/mybatis/UpdatePwRepository.java
  whole/src/main/webapp/WEB-INF/fragments/header.jsp
  whole/src/main/webapp/WEB-INF/user/mypage.jsp
  whole/src/main/webapp/img/backarrow.png
Labels: 민영, fix, hotfix

#74 [fix]필요없는 파일 수정,삭제
  whole/src/main/java/controller/RequestMapping.java
  whole/src/main/java/controller/comm/CreateCommunityController.java
  whole/src/main/java/controller/comm/ListCommunityController.java
  whole/src/main/java/controller/comm/UpdateCommunityController.java
  whole/src/main/java/controller/comm/ViewCommunityController.java
  whole/src/main/java/controller/food/FoodDeleteController.java
  whole/src/main/java/controller/food/FoodUpdateController.java
  whole/src/main/java/controller/food/SearchFoodExpController.java
  whole/src/main/java/controller/user/DeleteUserController.java
  whole/src/main/java/controller/user/RegisterUserController.java
  whole/src/main/java/controller/user/UpdateUserController.java
  whole/src/main/java/controller/user/ViewUserController.java
  whole/src/main/java/model/Community.java
  whole/src/main/java/model/dao/CommunityDAO.java
  whole/src/main/java/model/dao/FoodDAO.java
  whole/src/main/java/model/service/FoodManager.java
  whole/src/main/java/test/FoodTest.java
  whole/src/main/java/test/UserTest.java
  whole/src/main/webapp/WEB-INF/market/market_post_form.jsp
  whole/src/main/webapp/WEB-INF/user/loginForm.jsp
  whole/src/main/webapp/WEB-INF/withWith/withWith.jsp
Labels: PULL REQUEST, 다윤, fix
